<!DOCTYPE html>
<html>
    <head>
        <title>Tractor Pulling</title>
        <meta charset="utf-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
        <script src="/file/frontend/js/constants.js"></script>
        <script src="/file/frontend/js/home.js"></script>
        <link rel="stylesheet" href="/file/frontend/css/style.css" />
    </head>
    <body>
        <div class="jumbotron">
            <div class="container"><h1>Tractor Pulling</h1></div>
        </div>
        <div class="container-fluid" id="scopediv" ng-app="tpApp" ng-controller="tpCtrl" ng-init="load()">
            <div class="container">
                <div class="row">
                    <table class="table">
                        <tr>
                            <th colspan="0">Add Pull</th>
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td>Date</td>
                            <td>Month</td>
                            <td colspan="3">Time</td>
                            <td>Notes</td>
                            <td>Track</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <select class="form-control" id="newPull.location">
                                    <option ng-repeat="location in locations">{{location}}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" id="newPull.date">
                                    <option ng-repeat="date in monthDates" value="{{date}}">{{date+1}}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" id="newPull.month" onchange="monthChange()">
                                    <option ng-repeat="(key,month) in months" value="{{key}}">{{month}}</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" id="newPull.hour">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" id="newPull.minute">
                                    <option>00</option>
                                    <option>30</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control" id="newPull.meridiem">
                                    <option>AM</option>
                                    <option>PM</option>
                                </select>
                            </td>
                            <td><input class="form-control" type="text" id="newPull.notes" /></td>
                            <td>
                                <select class="form-control" id="newPull.blacktop">
                                    <option value="">Dirt</option>
                                    <option value="true">Blacktop</option>
                                </select>
                            </td>
                            <td><button type="button" class="btn btn-success" onclick="addPull()">Add</button></td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="row">
                    <table class="table">
                        <tr>
                            <th colspan="0">Pullers</th>
                        </tr>
                        <tr>
                            <td>First</td>
                            <td>Last</td>
                            <td>Position</td>
                            <td>Member</td>
                        </tr>
                        <tr ng-repeat="puller in pullers">
                            <td>{{ puller.first_name }}</td>
                            <td>{{ puller.last_name }}</td>
                            <td>{{ puller.position }}</td>
                            <td ng-if="puller.member">Yes</td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="row">
                    <table class="table">
                        <tr>
                            <th colspan="0">Tractors</th>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>Brand</td>
                            <td>Model</td>
                        </tr>
                        <tr ng-repeat="tractor in tractors">
                            <td>{{ tractor.name }}</td>
                            <td>{{ tractor.brand }}</td>
                            <td>{{ tractor.model }}</td>
                        </tr>
                    </table>
                </div>

                <br />
                <div class="row">
                    <table class="table">
                        <tr>
                            <th colspan="0">Pulls</th>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td>Time</td>
                            <td>Location</td>
                            <td>Notes</td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="pull in pulls">
                            <td>{{ pull.date }}</td>
                            <td>{{ pull.time }}</td>
                            <td>{{ pull.location }}</td>
                            <td>{{ pull.notes }}</td>
                            <td ng-if="pull.blacktop">Blacktop</td>
                            <td ng-if="!pull.blacktop">Dirt</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
