html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
}

img {
    max-height: 40vh;
    max-width: 80vw;
}

.paddingRight {
    padding-right: 5px;
}

.paddingLeft {
    padding-left: 5px;
}

.paddingTop {
    padding-top: 24px;
}

.indent {
    padding-left: 3rem;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.greenText {
    color: #00ff1f !important;
}

.yellowText {
    color: yellow !important;
}

.orangeText {
    color: #ffa400 !important;
}

.redText {
    color: red !important;
}

.containerSideExpanded {
    padding-left: 16rem;
}

.containerSideCollapsed {
    padding-left: 0;
}

.container {
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.pageContainer {
    position: relative;
    z-index: 0;
    overflow-y: auto;
    height: calc(100vh - 6rem);
    width: 100%;
    max-width: 1056px;
}

.titleHeader {
    text-align: center;
    padding-bottom: 10px;
}

.footer {
    position: fixed;
    display: flex;
    align-items: center;
    height: 3em;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #161616;
}

.footerText {
    opacity: 50%;
    padding: 20px;
    font-size: 12px;
}

.tableContainerSideExpanded {
    width: calc(100vw - 40px - 16rem);
}

.tableContainerSideCollapsed {
    width: calc(100vw - 40px);
}

.tableContainer {
    overflow: auto;
    display: inline-block;
    max-width: 100%;
}

.contentContainer {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 50px;
    width: 100%;
}

.contentRow {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

.fullColumn {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.threeQuartersColumn {
    width: 75%;
    display: inline-block;
    vertical-align: top;
}

.halfColumn {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.thirdColumn {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.quarterColumn {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.fifthColumn {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.sixthColumn {
    width: 16.6666666666%;
    display: inline-block;
    vertical-align: top;
}

.typical_input {
    min-width: 14em;
}

.homeButton {
    font-size: 1.9rem;
    width: 100%;

    .bx--btn__icon {
        width: 1.8rem;
        height: 1.8rem;
    }
}

.bx--modal-container {
    max-width: 90vw;
    max-height: 85vh;
}

.bx--text-area__wrapper[data-invalid] > .bx--text-area--invalid,
.bx--text-input__field-wrapper[data-invalid] {
    outline: 2px solid red;
}

.bx--text-area__wrapper[data-invalid] ~ .bx--form-requirement,
.bx--text-input__field-wrapper[data-invalid] ~ .bx--form-requirement {
    color: red;
}

.bx--text-area__invalid-icon,
.bx--text-input__invalid-icon {
    fill: red !important;
}
