html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
}

.paddingRight {
    padding-right: 5px;
}

.paddingLeft {
    padding-left: 5px;
}

.center {
    text-align: center;
}

.greenText {
    color: #00ff1f !important;
}

.yellowText {
    color: yellow !important;
}

.orangeText {
    color: #ffa400 !important;
}

.redText {
    color: red !important;
}

.containerSideExpanded {
    padding-left: 16rem;
}

.containerSideCollapsed {
    padding-left: 0;
}

.container {
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.pageContainer {
    position: relative;
    z-index: 0;
    overflow-y: auto;
    height: calc(100vh - 3rem);
    width: 100%;
}

.titleHeader {
    text-align: center;
    padding-bottom: 10px;
}

.tableContainerSideExpanded {
    width: calc(100vw - 40px - 16rem);
}

.tableContainerSideCollapsed {
    width: calc(100vw - 40px);
}

.tableContainer {
    overflow: auto;
    display: inline-block;
}

.contentContainer {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 50px;
}

.contentRow {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

.fullColumn {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.threeQuartersColumn {
    width: 75%;
    display: inline-block;
    vertical-align: top;
}

.halfColumn {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.thirdColumn {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.quarterColumn {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}

.fifthColumn {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.sixthColumn {
    width: 16.6666666666%;
    display: inline-block;
    vertical-align: top;
}

.typical_input {
    min-width: 14em;
}

.bx--modal-container {
    max-width: 90vw;
    max-height: 85vh;
}
