.bx--cc--title {
    .title {
        fill: white !important;
    }
}

.legend-item,
.bx--cc--pie,
.tick {
    text {
        fill: white !important;
    }
}

.dot,
.line {
    stroke-width: 12px !important;
}

.bx--chart-holder {
    background-color: transparent !important;
}

.bx--cc--grid rect.chart-grid-backdrop {
    fill: #3d3d3d !important;
}
